<html>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/logo.png"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/topbar.css">
    <link rel="stylesheet" href="/css/warning.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/verticalBtns.css">
    <link rel="stylesheet" href="/css/textInputs.css">
    <link rel="stylesheet" href="/css/loadingCircle.css">
    <style>
        body {
            font-family: "Outfit";
            background-color: #414247;
            color: rgb(255, 255, 255);
            padding: 0;
            margin: 0;
        }
        h1 {
            margin-left: 10px;
            font-size: 30px;
        }
        .main {
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
    </style>
    <head>
        <title>GeantWorld - 403 Interdit</title>
    </head>
    <body>
        <div id="topbar">
            <img id="topbar_logo" src="/logo.png" />
            <h1>GeantWorld</h1>
        </div>
        <div class="main">
            <h1 id="errorPageTitle">404 Interdit</h1>
            <p id="errorPageDesc">La page à laquelle vous tentez d'accéder est actuellement interdite.</p>
            <div class="verticalBtn" id="goBackBtn">
                <h1>retour</h1>
            </div>
        </div>
    </body>

    <script src="/js/buttons.js"></script>
    <script src="/js/textInputs.js"></script>
    <script src="/js/topbarButtons.js"></script>

    <script>

        var loadingIcon = document.querySelector("#loadingIcon");
        var main = document.querySelector(".main");

        setTimeout(() => {
            loadingIcon.style.display = "none";
            main.style.display = "flex";
        }, 100);
        
        var goBackBtn = document.querySelector("#goBackBtn");
        var isPressed = false;

        goBackBtn.onclick = () => {
            if(isPressed === false) {
                isPressed = true;
                setTimeout(() => {
                    window.history.back();
                }, 200);
            }
        }

    </script>
</html>