<html>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="logo.png"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/topbar.css">
    <link rel="stylesheet" href="/css/warning.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/verticalBtns.css">
    <link rel="stylesheet" href="/css/textInputs.css">
    <link rel="stylesheet" href="/css/loadingCircle.css">
    <style>
        .warningDialog {
            display: none;
        }
    </style>
    <head>
        <title>GeantWorld - 404 page introuvable</title>
    </head>
    <body>
        <div id="topbar">
            <img id="topbar_logo" src="/logo.png" />
            <h1>GeantWorld</h1>
            <div class="topbar_items">
                <div class="btn" id="homebtn">
                    <h1>Accueil</h1>
                </div>
                <div class="btn" id="recrutBtn">
                    <h1>recrutement</h1>
                </div>
                <div class="btn" id="rblxbtn">
                    <h1>Roblox Studio</h1>
                </div>
                <div class="btn" id="musicbtn">
                    <h1>Musique</h1>
                </div>
                <div class="btn" id="VideosBtn">
                    <h1>Vidéos</h1>
                </div>
            </div>
        </div>
        <div class="warningDialog">
            <img src="photos/warningIcon.png" />
            <h1></h1>
        </div>
        <div id="loadingIcon"></div>
        <div class="main">
            <img id="pageLogo" src="/logo.png" />
            <h1 id="pageTitle">404</h1>
            <p id="pageDesc">La page que vous rechercher n'existe pas ou plus !</p>
        </div>
    </body>
    <script src="/js/buttons.js"></script>
    <script src="/js/textInputs.js"></script>
    <script src="/js/topbarButtons.js"></script>

    <script>

        var loadingIcon = document.querySelector("#loadingIcon");
        var main = document.querySelector(".main");

        setTimeout(() => {
            loadingIcon.style.display = "none";
            main.style.display = "flex";
        }, 100);

    </script>
</html>