<html>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/logo.png"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/topbar.css">
    <link rel="stylesheet" href="/css/warning.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/verticalBtns.css">
    <link rel="stylesheet" href="/css/textInputs.css">
    <link rel="stylesheet" href="/css/loadingCircle.css">
    <style>
        @keyframes background {
            0% {
                background-color: #414247;
            }
            100% {
                background-color: #000000;
            }
        }
        @keyframes logo {
            0% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1);
            }
        }
        body {
            height: 700px;
            font-family: "Outfit";
            background-color: #414247;
            color: rgb(255, 255, 255);
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            animation: background 3s infinite alternate linear;
        }
        h1 {
            margin-left: 10px;
            font-size: 30px;
        }
        .main {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        #pageLogo {
            margin-bottom: 50px;
        }
        .maintenanceInfo {
            display: none;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
    </style>
    <head>
        <title>GeantWorld</title>
    </head>
    <body>
        <div class="main">
            <div class="loadingDiv">
                <img id="pageLogo" src="/logo.png" />
                <div id="loadingIcon"></div>
            </div>
            <div class="maintenanceInfo">
                <img id="pageLogo" src="/photos/warningIcon.png" />
                <h1>Nous travaillons sur le site internet, merci de patienter</h1>
                <p>vérifie : https://status.geantworldweb.tk/<br>Nous reviendrons ce 7/02/22 à 17 h 00 CET</p>
            </div>
        </div>
    </body>
    <script src="/js/buttons.js"></script>
    <script src="/js/textInputs.js"></script>
    <script src="/js/topbarButtons.js"></script>

    <script>
        let loadingDiv = document.querySelector(".loadingDiv");
        let maintenanceInfo = document.querySelector(".maintenanceInfo");
        setTimeout(() => {
            loadingDiv.style.display = "none";
            maintenanceInfo.style.display = "flex";
        }, 2000);
    </script>
</html>